@{
    ViewData["AuthTitle"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}
<div class="wg-box">
    <div class="title-box">
        <i class="icon-coffee"></i>
        <div class="body-text">Tip search by Product ID: Each product is provided with a unique ID, which you can rely on to find the exact product you need.</div>
    </div>
    <div class="flex items-center justify-between gap10 flex-wrap">
        <div class="wg-filter flex-grow">
            <div class="show">
                <div class="text-tiny">Showing</div>
                <div class="select">
                    <select class="">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
                <div class="text-tiny">entries</div>
            </div>
            
        </div>
        <a class="tf-button style-1 w208" href="add-product.html"><i class="icon-plus"></i>Add new</a>
    </div>
    <div class="wg-table table-product-list">
        <ul class="table-title flex gap20 mb-14">
            <li>
                <div class="body-title">Product</div>
            </li>
            <li>
                <div class="body-title">Product ID</div>
            </li>
            <li>
                <div class="body-title">Price</div>
            </li>
            <li>
                <div class="body-title">Quantity</div>
            </li>
            <li>
                <div class="body-title">Sale</div>
            </li>
            <li>
                <div class="body-title">Stock</div>
            </li>
            <li>
                <div class="body-title">Start date</div>
            </li>
            <li>
                <div class="body-title">Action</div>
            </li>
        </ul>
        <ul class="flex flex-column">
            <li class="product-item gap14">
                <div class="image no-bg">
                    <img src="images/products/41.png" alt="">
                </div>
                <div class="flex items-center justify-between gap20 flex-grow">
                    <div class="name">
                        <a href="product-list.html" class="body-title-2">Dog Food, Chicken & Chicken Liver Recipe...</a>
                    </div>
                    <div class="body-text">#7712309</div>
                    <div class="body-text">$1,452.500</div>
                    <div class="body-text">1,638</div>
                    <div class="body-text">20</div>
                    <div>
                        <div class="block-not-available">Out of stock</div>
                    </div>
                    <div class="body-text">$28,672.36</div>
                    <div class="list-icon-function">
                        <div class="item eye">
                            <i class="icon-eye"></i>
                        </div>
                        <div class="item edit">
                            <i class="icon-edit-3"></i>
                        </div>
                        <div class="item trash">
                            <i class="icon-trash-2"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item gap14">
                <div class="image no-bg">
                    <img src="images/products/42.png" alt="">
                </div>
                <div class="flex items-center justify-between gap20 flex-grow">
                    <div class="name">
                        <a href="product-list.html" class="body-title-2">Grain Free Dry Dog Food | Rachael Ray® Nutrish®</a>
                    </div>
                    <div class="body-text">#7712309</div>
                    <div class="body-text">$1,452.500</div>
                    <div class="body-text">1,638</div>
                    <div class="body-text">20</div>
                    <div>
                        <div class="block-not-available">Out of stock</div>
                    </div>
                    <div class="body-text">$28,672.36</div>
                    <div class="list-icon-function">
                        <div class="item eye">
                            <i class="icon-eye"></i>
                        </div>
                        <div class="item edit">
                            <i class="icon-edit-3"></i>
                        </div>
                        <div class="item trash">
                            <i class="icon-trash-2"></i>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="divider"></div>
    <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing 10 entries</div>
        <ul class="wg-pagination">
            <li>
                <a href="#"><i class="icon-chevron-left"></i></a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li class="active">
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#"><i class="icon-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>