@{
    ViewData["AuthTitle"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}

<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>All category</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Category</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">All category</div>
                </li>
            </ul>
        </div>
        <!-- all-category -->
        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <div class="show">
                        <div class="text-tiny">Showing</div>
                        <div class="select">
                            <select class="">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                        <div class="text-tiny">entries</div>
                    </div>
                    
                </div>
                <a class="tf-button style-1 w208" href="new-category.html"><i class="icon-plus"></i>Add new</a>
            </div>
            <div class="wg-table table-all-category">
                <ul class="table-title flex gap20 mb-14">
                    <li>
                        <div class="body-title">Category</div>
                    </li>
                    <li>
                        <div class="body-title">Icon</div>
                    </li>
                    <li>
                        <div class="body-title">Quantity</div>
                    </li>
                    <li>
                        <div class="body-title">Sale</div>
                    </li>
                    <li>
                        <div class="body-title">Start date</div>
                    </li>
                    <li>
                        <div class="body-title">Action</div>
                    </li>
                </ul>
                <ul class="flex flex-column">
                    <li class="product-item gap14">
                        <div class="image no-bg">
                            <img src="images/products/51.png" alt="">
                        </div>
                        <div class="flex items-center justify-between gap20 flex-grow">
                            <div class="name">
                                <a href="product-list.html" class="body-title-2">Dried food</a>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M16.9219 15.8672V10.4881L17.5312 9.26948C17.8241 8.68369 17.9766 8.03775 17.9766 7.38281M17.9766 7.38281V5.97656H6.02344V7.38281M17.9766 7.38281H6.02344M6.02344 7.38281C6.02344 8.03775 6.17592 8.68369 6.4688 9.26948L7.07812 10.4881V15.8672M7.07812 17.2734V19.1369L6.4688 20.3555C6.1759 20.9413 6.02342 21.5873 6.02344 22.2422M6.02344 22.2422V23.6484H17.9766V22.2422M6.02344 22.2422H17.9766M17.9766 22.2422C17.9766 21.5873 17.8241 20.9413 17.5312 20.3555L16.9219 19.1369V17.2734M9.1875 5.97656V4.21875C9.1875 3.63628 9.65972 3.16406 10.2422 3.16406C10.8247 3.16406 11.2969 3.63628 11.2969 4.21875V5.97656M12.7031 3.51562V1.40625C12.7031 0.823781 13.1753 0.351562 13.7578 0.351562C14.3403 0.351562 14.8125 0.823781 14.8125 1.40625V3.51562C14.8125 4.09809 14.3403 4.57031 13.7578 4.57031C13.1753 4.57031 12.7031 4.09809 12.7031 3.51562Z" stroke="#111111" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.9219 12.9388C14.2014 10.2183 9.79861 10.2183 7.07812 12.9388" stroke="#111111" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.5251 17.2621C13.1584 16.875 13.1584 16.2657 13.5259 15.8784C13.8868 15.4977 14.1094 14.9822 14.1094 14.4141C14.1094 13.2491 13.165 12.3047 12 12.3047C10.835 12.3047 9.89062 13.2491 9.89062 14.4141C9.89062 14.9822 10.1132 15.4977 10.475 15.8785C10.8417 16.2657 10.8417 16.875 10.4741 17.2622C10.1132 17.6429 9.89062 18.1584 9.89062 18.7266C9.89062 19.8915 10.835 20.8359 12 20.8359C13.165 20.8359 14.1094 19.8915 14.1094 18.7266C14.1094 18.1584 13.8868 17.6429 13.5251 17.2621Z" stroke="#111111" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="body-text">1,638</div>
                            <div class="body-text">20</div>
                            <div class="body-text">20 Nov 2023</div>
                            <div class="list-icon-function">
                                <div class="item eye">
                                    <i class="icon-eye"></i>
                                </div>
                                <div class="item edit">
                                    <i class="icon-edit-3"></i>
                                </div>
                                <div class="item trash">
                                    <i class="icon-trash-2"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item gap14">
                        <div class="image no-bg">
                            <img src="images/products/52.png" alt="">
                        </div>
                        <div class="flex items-center justify-between gap20 flex-grow">
                            <div class="name">
                                <a href="product-list.html" class="body-title-2">Wet food</a>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18.1641 19.8516C18.2573 19.8516 18.3467 19.8145 18.4127 19.7486C18.4786 19.6827 18.5156 19.5932 18.5156 19.5V7.78617C18.5156 7.78106 18.5151 7.77614 18.5149 7.77098C18.5147 7.76519 18.5144 7.75941 18.5139 7.75364C18.5128 7.74067 18.511 7.72776 18.5085 7.71497C18.5081 7.71333 18.5074 7.71169 18.507 7.70981C18.5044 7.69813 18.5012 7.68659 18.4975 7.67522C18.4963 7.67165 18.4949 7.66811 18.4935 7.66462C18.4898 7.65477 18.4858 7.64506 18.4814 7.63552C18.4803 7.6335 18.4797 7.63148 18.4788 7.62942L16.9343 4.53497C16.9137 4.49366 16.8851 4.45682 16.8503 4.42655C16.8154 4.39628 16.7749 4.37317 16.7311 4.35854C16.6873 4.34391 16.6411 4.33805 16.595 4.3413C16.549 4.34454 16.504 4.35682 16.4627 4.37745C16.4214 4.39807 16.3846 4.42662 16.3543 4.46148C16.324 4.49634 16.3009 4.53682 16.2863 4.58061C16.2717 4.6244 16.2658 4.67065 16.269 4.7167C16.2723 4.76276 16.2846 4.80772 16.3052 4.84903L17.5957 7.43466H12.7881L15.1595 2.55356L15.6354 3.50686C15.656 3.5482 15.6845 3.58507 15.7193 3.61538C15.7542 3.64568 15.7946 3.66881 15.8384 3.68345C15.8822 3.6981 15.9285 3.70396 15.9745 3.70071C16.0206 3.69745 16.0656 3.68515 16.1069 3.6645C16.1903 3.62284 16.2538 3.54975 16.2834 3.46129C16.3129 3.37284 16.3062 3.27626 16.2645 3.1928L15.5068 1.67484V0.351562C15.5068 0.258322 15.4698 0.168901 15.4038 0.10297C15.3379 0.0370395 15.2485 0 15.1553 0L3.28017 0C3.08606 0 2.92861 0.1575 2.92861 0.351562V1.67686L0.0351562 7.63256C0.0338906 7.63533 0.0329531 7.63823 0.0316875 7.641C0.0283422 7.6486 0.0252159 7.65629 0.0223125 7.66406C0.0204844 7.66884 0.0185156 7.67377 0.0170156 7.67873C0.0131719 7.69045 0.00989063 7.70231 0.0073125 7.71459C0.006375 7.71938 0.00585938 7.72411 0.00510937 7.72889C0.0035828 7.73749 0.00242549 7.74616 0.00164063 7.75486C0.00114502 7.76108 0.000832383 7.76732 0.000703125 7.77356C0.0005625 7.77778 0 7.78219 0 7.78636V8.98444C0 9.1785 0.157266 9.336 0.351562 9.336C0.545859 9.336 0.703125 9.1785 0.703125 8.98444V8.13792H11.8749V21.7743C11.8749 22.3628 12.1049 22.8984 12.4794 23.2969H2.22563C1.38609 23.2969 0.703125 22.6139 0.703125 21.7744V10.5C0.703125 10.3059 0.545859 10.1484 0.351562 10.1484C0.157266 10.1484 0 10.3059 0 10.5V21.7744C0 23.0016 0.998437 24 2.22563 24H16.29C17.5172 24 18.5156 23.0016 18.5156 21.7744V20.9883C18.5156 20.7942 18.3584 20.6367 18.1641 20.6367C17.9698 20.6367 17.8125 20.7942 17.8125 20.9883V21.7744C17.8125 22.6139 17.1295 23.2969 16.29 23.2969H14.1006C13.261 23.2969 12.5781 22.6139 12.5781 21.7744V8.13797H17.8125V19.5C17.8125 19.5932 17.8495 19.6827 17.9155 19.7486C17.9814 19.8145 18.0708 19.8516 18.1641 19.8516ZM3.63173 0.703125H14.8037V1.40625H3.63173V0.703125ZM3.50025 2.10938H14.5935L12.0064 7.43461H0.913125L3.50025 2.10938Z" fill="#111111" />
                                    <path d="M10.5811 12.7927C10.5811 11.8515 9.8146 11.0859 8.87251 11.0859C8.06851 11.0859 7.39304 11.644 7.21229 12.3928C6.93268 12.3348 6.64786 12.3056 6.3623 12.3058C6.0692 12.3058 5.78462 12.3362 5.51255 12.3928C5.3318 11.644 4.65615 11.0859 3.85234 11.0859C2.91005 11.0859 2.14355 11.8515 2.14355 12.7927C2.14355 13.4386 2.50191 14.012 3.05199 14.3017C2.94685 14.5739 2.8899 14.864 2.8899 15.1646C2.8899 16.741 4.44755 18.0234 6.3623 18.0234C8.27705 18.0234 9.83495 16.7409 9.83495 15.1646C9.83495 14.8638 9.77776 14.5739 9.67285 14.3017C10.2229 14.012 10.5811 13.4387 10.5811 12.7927ZM2.84668 12.7927C2.84668 12.2393 3.29771 11.7891 3.85215 11.7891C4.33918 11.7891 4.74605 12.137 4.8376 12.5967C4.23887 12.8386 3.73641 13.218 3.39198 13.6852C3.22754 13.6012 3.08954 13.4734 2.99329 13.3159C2.89704 13.1584 2.8463 12.9773 2.84668 12.7927ZM6.3623 17.3203C4.83521 17.3203 3.59302 16.3531 3.59302 15.1646C3.59302 13.9759 4.83521 13.0089 6.3623 13.0089C7.8894 13.0089 9.13182 13.9759 9.13182 15.1646C9.13182 16.3533 7.88945 17.3203 6.3623 17.3203ZM9.33268 13.6852C8.98824 13.2182 8.48579 12.8386 7.88705 12.5967C7.9786 12.137 8.38548 11.7891 8.87251 11.7891C9.42695 11.7891 9.87798 12.2393 9.87798 12.7927C9.87798 13.1768 9.66226 13.5169 9.33268 13.6852Z" fill="#111111" />
                                    <path d="M5.83187 14.1326C5.83187 14.2259 5.79483 14.3153 5.7289 14.3812C5.66297 14.4471 5.57354 14.4842 5.4803 14.4842C5.38706 14.4842 5.29764 14.4471 5.23171 14.3812C5.16578 14.3153 5.12874 14.2259 5.12874 14.1326C5.12874 14.0394 5.16578 13.95 5.23171 13.884C5.29764 13.8181 5.38706 13.7811 5.4803 13.7811C5.57354 13.7811 5.66297 13.8181 5.7289 13.884C5.79483 13.95 5.83187 14.0394 5.83187 14.1326ZM7.59591 14.1326C7.59591 14.2259 7.55887 14.3153 7.49294 14.3812C7.42701 14.4471 7.33759 14.4842 7.24435 14.4842C7.15111 14.4842 7.06169 14.4471 6.99576 14.3812C6.92983 14.3153 6.89279 14.2259 6.89279 14.1326C6.89279 14.0394 6.92983 13.95 6.99576 13.884C7.06169 13.8181 7.15111 13.7811 7.24435 13.7811C7.33759 13.7811 7.42701 13.8181 7.49294 13.884C7.55887 13.95 7.59591 14.0394 7.59591 14.1326ZM14.8438 9.46875V19.7344C14.8438 19.8276 14.8808 19.917 14.9467 19.983C15.0127 20.0489 15.1021 20.0859 15.1953 20.0859C15.2886 20.0859 15.378 20.0489 15.4439 19.983C15.5099 19.917 15.5469 19.8276 15.5469 19.7344V9.46875C15.5469 9.37551 15.5099 9.28609 15.4439 9.22016C15.378 9.15423 15.2886 9.11719 15.1953 9.11719C15.1021 9.11719 15.0127 9.15423 14.9467 9.22016C14.8808 9.28609 14.8438 9.37551 14.8438 9.46875ZM4.01855 18.6797C3.43702 18.6797 2.96387 19.1528 2.96387 19.7344C2.96387 20.3159 3.43702 20.7891 4.01855 20.7891H8.70605C9.28763 20.7891 9.76074 20.3159 9.76074 19.7344C9.76074 19.1528 9.28763 18.6797 8.70605 18.6797H4.01855ZM9.05762 19.7344C9.05762 19.9283 8.89998 20.0859 8.70605 20.0859H4.01855C3.82468 20.0859 3.66699 19.9283 3.66699 19.7344C3.66699 19.5405 3.82468 19.3828 4.01855 19.3828H8.70605C8.89998 19.3828 9.05762 19.5405 9.05762 19.7344Z" fill="#111111" />
                                </svg>
                            </div>
                            <div class="body-text">1,638</div>
                            <div class="body-text">20</div>
                            <div class="body-text">20 Nov 2023</div>
                            <div class="list-icon-function">
                                <div class="item eye">
                                    <i class="icon-eye"></i>
                                </div>
                                <div class="item edit">
                                    <i class="icon-edit-3"></i>
                                </div>
                                <div class="item trash">
                                    <i class="icon-trash-2"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- more here -->
                </ul>
            </div>
            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny">Showing 10 entries</div>
                <ul class="wg-pagination">
                    <li>
                        <a href="#"><i class="icon-chevron-left"></i></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li class="active">
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /all-category -->
    </div>
    <!-- /main-content-wrap -->
</div>